DATABASE_URL="postgresql://postgres.vwkbtphqwhoklovrouhr:Jerolin%40101@aws-1-ap-south-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="abcdef1234567890abcdef1234567890"
API_PORT=4000
TRIAGE_SERVICE_URL="https://ai-health-assistant-dse8.onrender.com"
CORS_ORIGIN="http://localhost:3000"
GOOGLE_PLACES_API_KEY="AIzaSyABfWNlNYjRokB-Cx3X5TOE9pFNsp71cSY"
NEXT_PUBLIC_API_BASE_URL="http://localhost:4000/api"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
